@import url(https://fonts.google.com/share?selection.family=Vollkorn:ital,wght@0,400..900;1,400..900);
@import url(https://fonts.google.com/share?selection.family=Nunito:ital,wght@0,200..1000;1,200..1000|Vollkorn:ital,wght@0,400..900;1,400..900);
body{
    background-color:darkslateblue;
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-align: center ;
}

h1{
    text-align: center;
}

.navbar {
    position: sticky;
}

.navbar ul{
    list-style-type: none;
    background-color:lightcyan;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color:black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: lightskyblue;
}

.navbar li{
    float:left;
}

h1 {
    text-shadow: 2px 2px 5px lightblue;
  }

a:hover {
    color: goldenrod;
}

.content {
    padding: 16px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 60px;
  }

  a:link {
    color: black;
  }
  
    a:visited {
    color: navy;
  }
 
a:hover {
    color: lightskyblue;
  }

  a:active {
    color: navy;
  }

  li {
    border-right: 1px solid grey;
  }
  
  li:last-child {
    border-right: none;
  }

  .text-center {
    text-align: center;
  }

#fname{}
#lname{}
#email{}
#phone{}

h2{
  font-style: italic;
  font-weight: initial;
}