@import url(https://fonts.google.com/share?selection.family=Vollkorn:ital,wght@0,400..900;1,400..900);
@import url(https://fonts.google.com/share?selection.family=Nunito:ital,wght@0,200..1000;1,200..1000|Vollkorn:ital,wght@0,400..900;1,400..900);
body{
    background-color:steelblue;
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color:powderblue;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color:black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:whitesmoke;
}

.navbar li{
    float:left;
}